<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- www.nuget.org (v2) as well as api.nuget.org: some networks block the api host -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget.org-v2" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>
